*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    margin: 0 auto;
    font-family: Lato;
    background-color: #B2BEB5;
}

/* ----- Encabezado -----*/

header{
    display: flex;
    min-height: 70px;
    background-color: #efefef;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-style: outset;
}

header a{
    color: #0a141d;
    text-decoration: none;
}

header a:hover{
    color: rgb(183, 0, 255);
}

.empresa-encabezado{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.empresa-encabezado img{
    height: 100px;
    margin-right: 10px;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color:#efefef;
    padding: 12px 20px;
}

.menu {display: flex;}
.menu li {padding-left: 30px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: #0a141d;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #0a141d;
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: #0a141d;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}



.buscador {
    height: 30px;
    display: flex;
    padding: 10px 20px;
    background: #fff;
    border-radius: 30px;
    align-items: center;
    border-style: solid;
    border-width: 2px;
}


.buscador:hover input {
    width: 400px;
}

.buscador input{
    width: 0px;
    outline: none;
    border: none;
    transition: 0.8s;
    background: transparent;
}
.buscador a .fas{
    color: #0a141d;
    font-size: 18px;
}

/* ----- Centro de paginas ----- */

.productos-principal{
    justify-content: center;

}

.productos-principal h2{
    margin-left: 173px;
}
.container-info{
    margin: 10px;
    align-content: center;
    justify-content: center;
    justify-items: center;
    font-size: 50px;
}
.container-item{
    display: grid;
    gap: 25px;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.container-item img{
    border-radius: 10px;
    width: 500px;
    transition: 5ms;
}

.container-info img:hover{
    transform: scale(1.09);
}

.container-info button{

    border: none;
    background: none;
    background-color: #0a141d;
    color: #efefef;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 35px;
}

/* ----- Pie de pagina ----- */

footer{
    width: 100%;
    background-color: #3B444B;
}

footer .grupo1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

footer .grupo1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .grupo1 .box figure img{
    width: 150px;
}

footer .grupo1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

footer .grupo1 .box p{
    color: #efefef;
    margin-bottom: 10px;
    text-align: justify;
}

footer .grupo1 #red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2023;
    text-align: center;
    transition: all 300ms ease;
}

footer .grupo1 #red-social a:hover{
    color: aqua;

}

footer #derechos-reservados{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
    font-size: 15px;
}

footer a{
    color: #fff;
    text-decoration: none;    
}

/* ----- Inicio de Sesion ----- */

.Inicio-sesion{
    display: grid;
}

.Inicio-sesion div{
    display: grid;
    justify-content: center;
    border: double;
}

.texto-sesion{
    text-align: justify;
    display: grid;
}

.Inicio-sesion h2{
    text-align: center;

}

.datos-sesion{
    display: grid;
    font-size:20px ;
    max-width: 300px;
    margin: 10px;
    border: none;
    border-radius: 10px;
}



/* ----- Contacto ----- */

.Contacto {
    display: grid;
    justify-content: center; 
}

.Contacto input{
    width: 600px;
    height: 30px;
    font-size: 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
}

/* ----- Carrito ----- */





/* ----- Para version Mobile ----- */

#check {display: none;}

@media screen and (max-width:700px){
    
    header{
        flex-direction: column;
    }
    
    nav{
        padding: 10px;
    }

    footer .grupo1{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
        padding: 35px 0px;      
    }

    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #efefef;
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}